header{
    background-color: #2bb32b;
    height: 100px;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
}

header > h1{
    font-size: clamp(24px, 10vw, 50px);
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    font-weight: bolder;
    color: #b22ab3;
    margin-right: auto;
    margin-left: auto;
    white-space: nowrap;
}

header > a {
    font-size: clamp(16px, 3vw, 32px);
}

/* aタグ */
a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited{
	color: blue;
}

.header_menu_item{
    list-style: none;
    display: inline-block;
    padding: 10px;
}

#explain{
    padding: 10px;
    margin-top: 30px;
    background-color: #fff7f0;
    font-size: 18pt;
}

#explain > h1{
    font-size: 24pt;
}

#explain > p{
    font-size: 19pt;
    line-height: 150%;
}
